@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header {
  background-color: whitesmoke;
  text-align: center;

}

header > div {
  padding: 20px 0 20px 0;
  font-size: 50px;
}

input {
  color: gray;
  padding-left: 10px;
  width: 400px;
  height: 40px;
  border: solid gainsboro 2px;
  border-radius: 5px;
  font-size: large;
}

input#Search {
  margin-bottom: 40px;
}

.container {
  margin: auto 100px auto 100px;
}

p {
  font-size: 30px;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 20px 20px;
  padding: 20px 0 20px 20px;
  border-left: solid gainsboro 5px;
  font-size: larger;
}

footer {
  display: flex;
  justify-content: center;
  margin: 50px;
  text-align: center;
}

input#AddButton {
  width: 120px;
  height: 46px;
  margin-left: -120px;
  background-color: green;
  border: 0;
  color: white;
}

li > input {
  width: 60px;
  padding: 0;
  background-color: red;
  border: 0;
  color: white;
}